/* ----------------------------------------------------------------
	Layout Styles
-----------------------------------------------------------------*/

#wrapper {
	position: relative;
	float: none;
	width: 960px;
	margin: 0 auto;
  /*background-image: url('');*/
	background-color: #E2E2E2;
}

.clearfix {
  overflow: auto;
}

section, .row {
  /*padding: 30px;*/
  margin-left: 0px;
  margin-right: 0px;
  background-color: #f2f2f2;
}
section {
  padding: 30px;
}

.jumbotron {
  background-image: url('img/banner.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 50vh;
  margin-bottom: 0px;
}

.state-finder-container {
  background-color: #EEEEEE;
  padding: 15px;
  margin-top: 25px;
  border-radius: 3px;
}

#products {
  margin-top: 2px;
  margin-bottom: 50px;
}


section#info > div.row:nth-child(3) {
  margin-top: 70px;
}


section > div > div {
  height: 140px;
}

/* ----------------------------------------------------------------
	Typography
-----------------------------------------------------------------*/

body, .header-content {
	font-family: 'Lato', sans-serif;
  /*background-image: url('/img/tan.jpg');*/
  /*file not provided in materials*/
  background-color: #E2E2E2;
}

h1,
h2,
h3 {
	color: #002b5a;
  margin-bottom: 42px;
  text-transform: capitalize;
  font-weight: 200;
  font-family: 'Lato', sans-serif;  /*FIXME: ignores font-weight*/
}
h1 {
  font-size: 42px;
  font-weight: 200;
}

h2 {
  font-size: 40px;
  font-weight: 200;
  padding-left: 15px;
}

h3 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 0px;
}

/*on header content*/
p {
  color: #333;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  text-align: justify;
  line-height: 1.4;
  text-transform: none;
}

/*on light-gray box*/
.state-finder-container > p {
  color: #002b5a;
  font-size: 12px;
  margin-bottom: 5px;
}

.state-finder-container > h2 {
  font-size: 20px;
  margin: 0px 0px 15px 0px;
  padding-left: 0px;
}

section > div > div > p {
  font-size: 14px;
  font-weight: 200;
  /*padding-bottom: 20px;*/
}
section > div > div > h3 {
  font-size: 18px;
  margin-top: 0px;
  font-weight: 400;

}

/*styling for "Learn More" links to look like buttons */
#info > div > div > a {
  background-color: #FFF;
  border: 1px solid #E2E2E2;
  padding: 10px 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 400;
  color: #002b5a;
  position: absolute;
  bottom: 0;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  border-radius: 3px;
}
.link-button {
  background-color: #FFF;
  border: 1px solid #E2E2E2;
  padding: 10px 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 400;
  color: #002b5a;
  /*position: absolute;
  bottom: 0;*/
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  border-radius: 2px;
}

/*FIXME: "Select State" needs to be this color*/
#search-field-grey-text {
  color: #E2E2E2;
}
#info > div > div > a::after {
  content: ">";
  padding-left: 5px;
}

/* ----------------------------------------------------------------
	Styles
-----------------------------------------------------------------*/
select.dropdown {
  background-color: #FFF;
  border-radius: 0px;
  border: 1px solid #E2E2E2;
  border-right: none;
  margin: 0px;
  color: #002b5a;
  height: 25px;
  padding: 0px 11px;
}

/*select.dropdown > option {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;

}*/

button.search-button {
  background-color: #FFF;
  background-image: url('img/search.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 25px;
  width: 25px;
  border: 1px solid #E2E2E2;
  border-left: none;
  margin: 0px;
  padding: 0px;
}

.box-shadow-inset {
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  height: 25px;
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}
.box-shadow {
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
}

.fleft {
  float: left;
}

.inline {
  display: inline-flex;
}

.search-field {
  width: 100%;
  margin-top: 5px;
}

select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

/* ----------------------------------------------------------------
  Responsive Styling
-----------------------------------------------------------------*/

@media (width: 736px){
}
@media (width: 667px){
}
@media (width: 568px){
}
@media (width: 480px){
}
@media (width: 414px){
}
@media (max-width: 375px){
  /*FIXME: not targeting */
  /*section > div > div {
    height: 120px;*/
  }
}
@media (width: 320px){
}
@media (max-width: 500px) {
}
